body{
	
	margin: 0 !important;
	/*background: url('back6.jpg');*/
	background: url('bookwura landing page2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width:  100%;
	height: 100%;


	

	
	
}

.butn a{
	text-decoration: none;
	color: white;
}

#foot{
	background-color: #222;
	color: white;
}

#foot li{
	list-style: none;


}

.navbar-default {
   background-color: none !important;
}