.butn a{
	text-decoration: none;
	color: white;
}

#foot{
	background-color: #222;
	color: white;
}

#foot li{
	list-style: none;
}

.display{
	background-color: #d3d3d3;
	padding: 20px;
}

 .media-body ul li{
	list-style: none;
}